{% extends "ptr_template.html" %}
{% block title %}pull_transaction_report.py{% endblock %}
{% block head_js_block %}
  <script type="text/javascript">
    $(document).ready(function() { 
      {% for tclass in tclassset %}
      {% for scheme in schemeset %}
      $('.{{tclass}}Table-{{scheme}}').tablesorter({
        {% for key in tsconfig[tclass] %}{{key}}: {{tsconfig[tclass][key]}},{% endfor %}theme: "{{scheme}}",
      });
      {% endfor %}
      {% endfor %}
      $('.tablesorter-childRow td').hide();
      $('.tablesorter').delegate('.toggle', 'click', function() {
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
      });
    });
  </script>
  <!--
  <script type="text/javascript">
    function ChangeColor(tableRow, highLight, outLight) {
      if (highLight) {
        tableRow.style.backgroundColor = '#6666ff';
      } else {
        tableRow.style.backgroundColor = outLight;
      }
    }
    function DoNav(theUrl,theName) {
      //document.location.href = theUrl;
      window.open(theUrl,theName);
    }
  </script>
  -->
{% endblock %}

{% block body_block %}
<div style="width:100%">
<div style="display: table-cell;min-width=400px;vertical-align:top">
    <table class="tickerTable-gray tablesorter" border="1">
        {% for symbol in tickerdict %}
        {% set ticker = tickerdict[symbol] %}
        {% if loop.first %}
        <thead>
            <tr>
                <th>Symbol</th>
                {% for key in ticker %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr>
                <td>{{symbol}}</td>
                {% for key in ticker %}
                <td class="{{ticker[key][2]}}"{% if ticker[key]|length==4 %} style="{{ticker[key][3]}}"{% endif %}>{{ticker[key][1].format(ticker[key][0])}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="display:table-cell;width:100%;vertical-align:top">
    <table class="summaryTable-blue tablesorter" border="1">
        {% for fpn in summarydict %}
        {% set summary = summarydict[fpn] %}
        {% if loop.first %}
        <thead>
            <tr>
                <th>Name</th>
                {% for key in summary %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr>
                <td>{{fpn}}</td>
                {% for key in summary %}
                <td class="{{summary[key][2]}}"{% if summary[key]|length==4 %} style="{{summary[key][3]}}"{% endif %}>{{summary[key][1].format(summary[key][0])}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div>
    {% for fileportname in tldict %}
        <div>
        <div style="display: inline-block; width: 100%;">
        <h3 style="display: inline;">{{tldict[fileportname].portname}}</h3>
        <h6 style="display: inline;"><a href="/scgi-bin/port_edit.cgi?action=show_transactions&fileportname={{fileportname}}" target="_blank">EDIT</a></h6>
        <h6 style="display: inline;"><a href="/cgi-bin/port_chart.cgi?{% for fpn in tldict %}{{tldict[fpn].filename}}={{tldict[fpn].portname}}&{% endfor %}method=diff&start={{porteditstart}}&end={{porteditend}}" target="_blank">CHART</a></h6>
        <h6 style="display: inline;"><a href="{{legacy_link}}" target="_blank">LEGACY</a></h6>
        </div>
        <table class="mainTable-{{schemes[loop.index0 % schemes|length]}} tablesorter" border="1">
            <!-- Header Row -->
            <thead><tr>{% for key in lheadings %}<th>{{key}}</th>{% endfor %}</tr></thead>
            <!-- Footer Row -->
            <!--
            <tfoot><tr>{% for key in lheadings %}<th>{{key}}</th>{% endfor %}</tr></tfoot>
            -->
            <!-- Long Positions -->
            {% if tldict[fileportname].combined_positions['longs']|length > 0 %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Long Positions</td></tr></tbody>
                <tbody>
                    {% for symbol in tldict[fileportname].combined_positions['longs'] %}
                        {% set report = tldict[fileportname].combined_positions['longs'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                {% if key == 'Symb' %}
                                    {% if report['transactions']|length > 1 %}
                                        <td class="{{report[key][2]}}" rowspan="{{report['transactions']|length + 1}}"><a href="#" class="toggle">{{report[key][1].format(report[key][0])}}</a></td>
                                    {% else %}
                                        <td class="{{report[key][2]}}">{{report[key][1].format(report[key][0])}}</td>
                                    {% endif %}
                                {% elif key == 'Links' %}
                                    {% for linktup in report['Links'][0] %}
                                    <td class="{{report['Links'][2]}}"><a href="http://{{linktup[1]}}"><img alt="{{linktup[0]}}" src="../pics/yahoo_finance_icon_14x14.jpg"></a></td>
                                    {% endfor %}
                                {% else %}
                                <td class="{{report[key][2]}}"{% if report[key]|length==4 %} style="{{report[key][3]}}"{% endif %}>{{report[key][1].format(report[key][0])}}</td>
                                {% endif %}
                            {% endfor %}<!--key-->
                        </tr>
                        <!-- Transactions Within A Position -->
                        {% if report['transactions']|length > 1 %}
                            {% for subreport in report['transactions'] %}
                                <tr class="tablesorter-childRow">
                                    {% for key in lheadings %}
                                        {% if key == 'Links' %}
                                        <td></td>
                                        {% elif key != 'Symb' %}
                                        <td class="{{subreport[key][2]}}">{{subreport[key][1].format(subreport[key][0])}}</td>
                                        {% endif %}
                                    {% endfor %}<!--key-->
                                </tr>
                            {% endfor %}<!--subreport-->
                        {% endif %}<!--tldict-->
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            
            <!-- Short Positions -->
            {% if tldict[fileportname].combined_positions['shorts']|length > 0 %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Short Positions</td></tr></tbody>
                <tbody>
                    {% for symbol in tldict[fileportname].combined_positions['shorts'] %}
                        {% set report = tldict[fileportname].combined_positions['shorts'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                {% if key == 'Links' %}
                                <td></td>
                                {% else %}
                                <td class="{{report[key][2]}}"{% if report[key]|length==4 %} style="{{report[key][3]}}"{% endif %}>{{report[key][1].format(report[key][0])}}</td>
                                {% endif %}
                            {% endfor %}<!--key-->
                        </tr>
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            
            <!-- Option Positions -->
            {% if tldict[fileportname].combined_positions['options']|length > 0 %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Option Positions</td></tr></tbody>
                <tbody>
                    {% for symbol in tldict[fileportname].combined_positions['options'] %}
                        {% set report = tldict[fileportname].combined_positions['options'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                {% if key == 'Links' %}
                                <td></td>
                                {% else %}
                                <td class="{{report[key][2]}}"{% if report[key]|length==4 %} style="{{report[key][3]}}"{% endif %}>{{report[key][1].format(report[key][0])}}</td>
                                {% endif %}
                            {% endfor %}<!--key-->
                        </tr>
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            
            <!-- Cash Position -->
            {% if tldict[fileportname].combined_positions['cash']|length > 0 %}
                <tbody class="tablesorter-no-sort">
                    {% for symbol in tldict[fileportname].combined_positions['cash'] %}
                        {% set report = tldict[fileportname].combined_positions['cash'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                {% if key == 'Symb' %}
                                    {% if report['transactions']|length > 1 %}
                                        <td class="{{report[key][2]}}" rowspan="{{report['transactions']|length + 1}}"><a href="#" class="toggle">{{report[key][1].format(report[key][0])}}</a></td>
                                    {% else %}
                                        <td class="{{report[key][2]}}">{{report[key][1].format(report[key][0])}}</td>
                                    {% endif %}
                                {% else %}<!--key-->
                                    {% if key in report %}
                                        <td class="{{report[key][2]}}">{{report[key][1].format(report[key][0])}}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}<!--key-->
                            {% endfor %}<!--key-->
                        </tr>
                        <!-- Cash sub transactions -->
                        {% if report['transactions']|length > 1 %}
                            {% for subreport in report['transactions'] %}
                                <tr class="tablesorter-childRow">
                                    {% for key in lheadings %}
                                        {% if key != 'Symb' %}
                                            {% if key in subreport %}
                                                <td class="{{subreport[key][2]}}">{{subreport[key][1].format(subreport[key][0])}}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% endif %}<!--key-->
                                    {% endfor %}<!--key-->
                                </tr>
                            {% endfor %}<!--subreport-->
                        {% endif %}<!--tldict-->
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            <!-- Total Position -->
            {% if tldict[fileportname].totals|length > 0 %}
                {% set totals = tldict[fileportname].totals %}
                <tbody class="tablesorter-no-sort">
                    <tr>
                        {% for key in lheadings %}
                            {% if key in totals %}
                                <td class="{{totals[key][2]}}"{% if totals[key]|length==4 %} style="{{totals[key][3]}}"{% endif %}>{{totals[key][1].format(totals[key][0])}}</td>
                            {% elif key == 'Symb' %}
                                <td>TOTALS</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}<!--key-->
                    </tr>
                </tbody>
            {% endif %}<!--tldict-->
        </table>
        </div>
    {% endfor %}<!--fileportname-->
</div>
{% endblock %}

