{% extends "ptr_template.html" %}
{% block title %}pull_transaction_report.py{% endblock %}
{% block head_js_block %}
  <script type="text/javascript">
    $(document).ready(function() { 
      {% for scheme in schemeset %}
      $('.mainTable-{{scheme}}').tablesorter({
        {% for key in tsconfig %}{{key}}: {{tsconfig[key]}},{% endfor %}theme: "{{scheme}}",
       });
      {% endfor %}
      $('.tablesorter-childRow td').hide();
      $('.tablesorter').delegate('.toggle', 'click', function() {
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
      });
    });
  </script>
  <!--
  <script type="text/javascript">
    function ChangeColor(tableRow, highLight, outLight) {
      if (highLight) {
        tableRow.style.backgroundColor = '#6666ff';
      } else {
        tableRow.style.backgroundColor = outLight;
      }
    }
    function DoNav(theUrl,theName) {
      //document.location.href = theUrl;
      window.open(theUrl,theName);
    }
  </script>
  -->
{% endblock %}

{% block body_block %}
<div><p><a href="{{legacy_link}}">{{legacy_link}}</a></p></div>
<div>
    {% for fileportname in tldict %}
        <div>
        <h3>{{tldict[fileportname].portname}}</h3>
        <table class="mainTable-{{schemes[loop.index0 % schemes|length]}} tablesorter" border="1">
            <!-- Header Row -->
            <thead><tr>{% for key in lheadings %}<th>{{key}}</th>{% endfor %}</tr></thead>
            <!-- Footer Row -->
            <!--
            <tfoot><tr>{% for key in lheadings %}<th>{{key}}</th>{% endfor %}</tr></tfoot>
            -->
            <!-- Non-sorting Name Row -->
            <!--
            <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">{{fileportname}}</td></tr></tbody>
            -->
            <!-- Long Positions -->
            {% if tldict[fileportname].combined_positions['longs']|length > 0 %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Long Positions</td></tr></tbody>
                <tbody>
                    {% for symbol in tldict[fileportname].combined_positions['longs'] %}
                        {% set report = tldict[fileportname].combined_positions['longs'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                {% if key == 'Symb' %}
                                    {% if report['transactions']|length > 1 %}
                                        <td class="{{report[key][2]}}" rowspan="{{report['transactions']|length + 1}}"><a href="#" class="toggle">{{report[key][1].format(report[key][0])}}</a></td>
                                    {% else %}
                                        <td class="{{report[key][2]}}">{{report[key][1].format(report[key][0])}}</td>
                                    {% endif %}
                                {% else %}
                                <td class="{{report[key][2]}}"{% if report[key]|length==4 %} style="{{report[key][3]}}"{% endif %}>{{report[key][1].format(report[key][0])}}</td>
                                {% endif %}
                            {% endfor %}<!--key-->
                        </tr>
                        <!-- Transactions Within A Position -->
                        {% if report['transactions']|length > 1 %}
                            {% for subreport in report['transactions'] %}
                                <tr class="tablesorter-childRow">
                                    {% for key in lheadings %}
                                        {% if key != 'Symb' %}<td class="{{subreport[key][2]}}">{{subreport[key][1].format(subreport[key][0])}}</td>{% endif %}
                                    {% endfor %}<!--key-->
                                </tr>
                            {% endfor %}<!--subreport-->
                        {% endif %}<!--tldict-->
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            
            <!-- Short Positions -->
            {% if tldict[fileportname].combined_positions['shorts']|length > 0 %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Short Positions</td></tr></tbody>
                <tbody>
                    {% for symbol in tldict[fileportname].combined_positions['shorts'] %}
                        {% set report = tldict[fileportname].combined_positions['shorts'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                <td class="{{report[key][2]}}"{% if report[key]|length==4 %} style="{{report[key][3]}}"{% endif %}>{{report[key][1].format(report[key][0])}}</td>
                            {% endfor %}<!--key-->
                        </tr>
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            
            <!-- Option Positions -->
            {% if tldict[fileportname].combined_positions['options']|length > 0 %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Option Positions</td></tr></tbody>
                <tbody>
                    {% for symbol in tldict[fileportname].combined_positions['options'] %}
                        {% set report = tldict[fileportname].combined_positions['options'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                <td class="{{report[key][2]}}"{% if report[key]|length==4 %} style="{{report[key][3]}}"{% endif %}>{{report[key][1].format(report[key][0])}}</td>
                            {% endfor %}<!--key-->
                        </tr>
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            
            <!-- Cash Position -->
            {% if tldict[fileportname].combined_positions['cash']|length > 0 %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Cash Position</td></tr></tbody>
                <tbody>
                    {% for symbol in tldict[fileportname].combined_positions['cash'] %}
                        {% set report = tldict[fileportname].combined_positions['cash'][symbol].report %}
                        <tr>
                            {% for key in lheadings %}
                                {% if key == 'Symb' %}
                                    {% if report['transactions']|length > 1 %}
                                        <td class="{{report[key][2]}}" rowspan="{{report['transactions']|length + 1}}"><a href="#" class="toggle">{{report[key][1].format(report[key][0])}}</a></td>
                                    {% else %}
                                        <td class="{{report[key][2]}}">{{report[key][1].format(report[key][0])}}</td>
                                    {% endif %}
                                {% else %}<!--key-->
                                    {% if key in report %}
                                        <td class="{{report[key][2]}}">{{report[key][1].format(report[key][0])}}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}<!--key-->
                            {% endfor %}<!--key-->
                        </tr>
                        <!-- Cash sub transactions -->
                        {% if report['transactions']|length > 1 %}
                            {% for subreport in report['transactions'] %}
                                <tr class="tablesorter-childRow">
                                    {% for key in lheadings %}
                                        {% if key != 'Symb' %}
                                            {% if key in subreport %}
                                                <td class="{{subreport[key][2]}}">{{subreport[key][1].format(subreport[key][0])}}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                        {% endif %}<!--key-->
                                    {% endfor %}<!--key-->
                                </tr>
                            {% endfor %}<!--subreport-->
                        {% endif %}<!--tldict-->
                    {% endfor %}<!--symbol-->
                </tbody>
            {% endif %}<!--tldict-->
            <!-- Total Position -->
            {% if tldict[fileportname].totals|length > 0 %}
                {% set totals = tldict[fileportname].totals %}
                <tbody class="tablesorter-no-sort"><tr><td colspan="{{lheadings|length}}">Total</td></tr></tbody>
                <tbody>
                    <tr>
                        {% for key in lheadings %}
                            {% if key in totals %}
                                <td class="{{totals[key][2]}}"{% if totals[key]|length==4 %} style="{{totals[key][3]}}"{% endif %}>{{totals[key][1].format(totals[key][0])}}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}<!--key-->
                    </tr>
                </tbody>
            {% endif %}<!--tldict-->
        </table>
        </div>
    {% endfor %}<!--fileportname-->
</div>
{% endblock %}

