{% extends "port_edit_template.html" %}
{% block title %}port_edit.py{% endblock %}
{% block head_js_block %}
  <script>
    $(document).ready(function() { 
      {% for tclass in tclasses %}
      {% for scheme in schemes %}
      $('.{{tclass}}Table-{{scheme}}').tablesorter({
        {% for key in tsconfig[tclass] %}{{key}}: {{tsconfig[tclass][key]}},{% endfor %}theme: "{{scheme}}",
      });
      {% endfor %}
      {% endfor %}
      $('.tablesorter-childRow td').hide();
      $('.tablesorter').delegate('.toggle', 'click', function() {
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
      });
    });
  </script>
{% endblock %}

{% block body_block %}
<p>Query returned {{transactions|length}} transactions</p>
<div style="width:100%">
  <div style="display:table-cell;min-width:400px;vertical-align:top">
    {% if transactions %}
    <table class="mainTable-ice tablesorter">
      <thead>
        <tr>
          <th></th>
          {% for column in column_order %}
          <th>{{column}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>
            <form method="get" action="port_edit.py">
              <input type="hidden" name="action" value="edit_transaction" />
              <input type="hidden" name="transaction_id" value="{{transaction.id}}" />
              <input type="submit" value="Edit" />
            </form>
          </td>
          {% for column in column_order %}
          <td>{{transaction|attr(column)}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
