{% extends "port_edit_template.html" %}
{% block title %}port_edit.py{% endblock %}
{% block head_js_block %}
{% endblock %}

{% block body_block %}
{% if transactions %}
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>symbol</th>
            <th>sector</th>
            <th>position</th>
            <th>descriptor</th>
            <th>shares</th>
            <th>open_price</th>
            <th>open_date</th>
            <th>closed</th>
            <th>close_price</th>
            <th>close_date</th>
            <th>expiration</th>
            <th>strike</th>
        </tr>
    </thead>
    <tbody>
    {% for ttype in transactions %}
        {% if ttype == 'intermediate' %}
        <tr>
            {% set list_transactions = transactions[ttype] %}
            {% for transaction in list_transactions %}
                {% for column in column_order %}
            <td>{{transaction.id}}</td>
            <td>{{transaction.symbol}}</td>
            <td>{{transaction.sector}}</td>
            <td>{{transaction.position}}</td>
            <td>{{transaction.descriptor}}</td>
            <td>{{transaction.shares}}</td>
            <td>{{transaction.open_price}}</td>
            <td>{{transaction.open_date}}</td>
            <td>{{transaction.closed}}</td>
            <td>{{transaction.close_price}}</td>
            <td>{{transaction.close_date}}</td>
            <td>{{transaction.expiration}}</td>
            <td>{{transaction.strike}}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
