{% extends "port_edit_template.html" %}
{% block title %}port_edit.py edit_transaction{% endblock %}
{% block head_js_block %}
  <script>
    $(document).ready(function() { 
      {% for tclass in tclasses %}
      {% for scheme in schemes %}
      $('.{{tclass}}Table-{{scheme}}').tablesorter({
        {% for key in tsconfig[tclass] %}{{key}}: {{tsconfig[tclass][key]}},{% endfor %}theme: "{{scheme}}",
      });
      {% endfor %}
      {% endfor %}
      $('.tablesorter-childRow td').hide();
      $('.tablesorter').delegate('.toggle', 'click', function() {
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
      });
    });
  </script>
{% endblock %}

{% block body_block %}
<h1>Edit Transaction{% if arguments.request_method == 'POST' %} (Verify){% endif %}</h1>
<form method="post" name="port_edit.py">
  <table>
      {% if not validated or not changed %}
        {% for input_name in form.form.inputs %}
        {% set form_input = form.form|attr(input_name) %}
        <tr>
            <td><label for="id_{{input_name}}">{{input_name}}:</label></td>
            <td>
                <input
                id="id_{{input_name}}"
                type="{{form_input.itype}}"
                name="{{input_name}}"
                value="{{form_input.form_value}}"
                {{form_input.disabled}}
                {{form_input.autofocus}}
                {% if not form_input.disabled %}
                  onfocus="this.select()"
                  tabindex="{{form_input.tabindex}}"
                {% endif %}
                />
            </td>
            <td>{{form_input.message}}</td>
        </tr>
        {% endfor %}
      {% else %}
        {% for input_name in form.form.inputs %}
        {% set form_input = form.form|attr(input_name) %}
        <tr>
            <td><label for="id_{{input_name}}">{{input_name}}:</label></td>
            <td>
                <input
                id="id_{{input_name}}"
                type="{{form_input.itype}}"
                name="{{input_name}}"
                value="{{form_input.form_value}}"
                {% if form_input.changed %}
                readonly
                {% else %}
                disabled
                {% endif %}
                />
            </td>
            <td>{{form_input.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
  </table>
  {% if not validated or not changed %}
  <input type="submit" value="Validate" />
  {% else %}
  <input type="hidden" name="validated_changed" value="True" />
  <input type="submit" value="Submit" />
  {% endif %}
  <p>* - {{form.msg_no_change}}</p>
  <p>** - {{form.msg_calculated}}</p>
</form>
{% if validated %}
<h2>VALIDATED</h2>
{% endif %}
{% if changed %}
<h2>CHANGED</h2>
{% endif %}
{% endblock %}
