{% extends "port_edit_template.html" %}
{% block title %}port_edit.py{% endblock %}
{% block head_js_block %}
  <script>
    $(document).ready(function() { 
      {% for tclass in tclasses %}
      {% for scheme in schemes %}
      $('.{{tclass}}Table-{{scheme}}').tablesorter({
        {% for key in tsconfig[tclass] %}{{key}}: {{tsconfig[tclass][key]}},{% endfor %}theme: "{{scheme}}",
      });
      {% endfor %}
      {% endfor %}
      $('.tablesorter-childRow td').hide();
      $('.tablesorter').delegate('.toggle', 'click', function() {
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
      });
    });
  </script>
{% endblock %}

{% block body_block %}
<form method="post" name="port_edit.py">
  <table>
      {% for input_name in form.form.inputs %}
      {% set form_input = form.form|attr(input_name) %}
      <tr><td>{{input_name}}</td><td><input type="{{form_input.itype}}" name="{{input_name}}" value="{{form_input.value}}" {{form_input.disabled}} /></td><td>{{form_input.message}}</td></tr>
      {% endfor %}
  </table>
  <p>* - {{form.msg_no_change}}</p>
  <p>** - {{form.msg_calculated}}</p>
  <input type="submit" value="Submit" />
</form>
{% if validated %}
<h1>VALIDATED</h1>
{% endif %}
{% if changed %}
<h1>CHANGED</h1>
{% endif %}
{% endblock %}
