{% extends "port_edit_template.html" %}
{% block title %}port_edit.py{% endblock %}
{% block head_js_block %}
  <script>
    $(document).ready(function() { 
      {% for tclass in tclasses %}
      {% for scheme in schemes %}
      $('.{{tclass}}Table-{{scheme}}').tablesorter({
        {% for key in tsconfig[tclass] %}{{key}}: {{tsconfig[tclass][key]}},{% endfor %}theme: "{{scheme}}",
      });
      {% endfor %}
      {% endfor %}
      $('.tablesorter-childRow td').hide();
      $('.tablesorter').delegate('.toggle', 'click', function() {
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
      });
    });
  </script>
{% endblock %}

{% block body_block %}
<p>Query returned {{form.table|length}} transactions</p>
<div style="width:100%">
  <div style="display:table-cell;min-width:400px;vertical-align:top">
    {% if form.table %}
    <table class="mainTable-ice tablesorter">
      <thead>
        <tr>
          <th></th>
          {% for header in form.headers %}
          <th>{{header}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row, row_form in form.table %}
        <tr>
          <td>
            <form method="get" action="port_edit.py">
              {% for input_name in row_form.inputs %}
                {% set form_input = row_form|attr(input_name) %}
                <input type="{{form_input.itype}}" name="{{form_input.name}}" value="{{form_input.value}}" />
              {% endfor %}
              <input type="submit" value="Edit" />
            </form>
          </td>
          {% for column, value in row.items() %}
          <td>{{value}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
