{% extends "port_edit_template.html" %}
{% block title %}port_edit.py{% endblock %}
{% block head_js_block %}
  <script>
    $(document).ready(function() { 
      {% for tclass in tclasses %}
      {% for scheme in schemes %}
      $('.{{tclass}}Table-{{scheme}}').tablesorter({
        {% for key in tsconfig[tclass] %}{{key}}: {{tsconfig[tclass][key]}},{% endfor %}theme: "{{scheme}}",
      });
      {% endfor %}
      {% endfor %}
      $('.tablesorter-childRow td').hide();
      $('.tablesorter').delegate('.toggle', 'click', function() {
        $(this).closest('tr').nextUntil('tr:not(.tablesorter-childRow)').find('td').toggle();
        return false;
      });
    });
  </script>
{% endblock %}

{% block body_block %}
{% set transaction = form.transaction %}
<form method="post" name="port_edit.py">
  <table>
    <tr><td>ttype</td><td><input type="text" name="ttype" value="{{transaction.ttype}}" disabled /></td></tr>
    <tr><td>id</td><td><input type="text" name="ttype" value="{{transaction.id}}" disabled /></td></tr>
    <tr><td>fileportname</td><td><input type="text" name="ttype" value="{{transaction.fileportname}}" disabled /></td></tr>
    <tr><td>symbol</td><td><input type="text" name="ttype" value="{{transaction.symbol}}" disabled /></td></tr>
    <tr><td>sector</td><td><input type="text" name="sector" value="{{transaction.sector}}" /></td></tr>
    <tr><td>position</td><td><input type="text" name="ttype" value="{{transaction.position}}" disabled /></td></tr>
    <tr><td>descriptor</td><td><input type="text" name="ttype" value="{{transaction.descriptor}}" disabled /></td></tr>
    <tr><td>shares</td><td><input type="text" name="shares" value="{{transaction.shares}}" /></td></tr>
    <tr><td>open_price</td><td><input type="text" name="open_price" value="{{transaction.open_price}}" /></td></tr>
    <tr><td>open_date</td><td><input type="date" name="open_date" value="{{transaction.open_date}}" /></td></tr>
    <tr><td>basis</td><td><input type="text" name="ttype" value="{{transaction.basis}}" disabled /></td></tr>
    <tr><td>closed</td><td><input type="text" name="closed" value="{{transaction.closed}}" /></td></tr>
    <tr><td>close_price</td><td><input type="text" name="close_price" value="{{transaction.close_price}}" /></td></tr>
    <tr><td>close_date</td><td><input type="date" name="close_date" value="{{transaction.close_date}}" /></td></tr>
    <tr><td>close</td><td><input type="text" name="ttype" value="{{transaction.close}}" disabled /></td></tr>
    <tr><td>days</td><td><input type="text" name="ttype" value="{{transaction.days}}" disabled /></td></tr>
    <tr><td>expiration</td><td><input type="date" name="expiration" value="{{transaction.expiration}}" /></td></tr>
    <tr><td>strike</td><td><input type="text" name="strike" value="{{transaction.strike}}" /></td></tr>
  </table>
  <input type="submit" value="Submit" />
</form>
{% endblock %}
